<footer id="global-footer" class="">
  <a href="#top" id="back-to-top">Back to Top</a>
</footer>

<script src="https://jameskrayer.com/thefri/core.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJBLFLFHP8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CJBLFLFHP8');
</script>
