<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="author" content="James Krayer" />
  <meta name="description" content="{{ description }}" />
  <meta name="copyright" content="James Krayer" />
  <link rel="canonical" href="{{'https://dungeons-and-dragons.jameskrayer.com' + page.url }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://jameskrayer.com/thefri/style.css" />
    {# <link
    href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.0/modern-normalize.min.css"
    rel="stylesheet"
    /> #}
  {# <link rel="stylesheet" href="{{ '/style/nextstyle.css' | url }}"> #}
</head>

