<!doctype html>
<html lang="en" dir="ltr">
  {% include "head.njk" %}

  <body>
    {% include "header.njk" %}

    <main id="page-wrapper">
    {% for post in posts %}
      <article>
        <header>
          <hgroup>
            {% if post.data.tags | length > 1 %}
            <div>
              {% for tag in post.data.tags %}
                {% if loop.index == 2 %}
                  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="tag-list-link">{{ tag }}</a>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          </hgroup>
          
          <div>
          <span class="byline">by {{ post.data.author }}</span>
          {% if post.date %}
            {# <div class="dateline"> #}
              on
              <time datetime="{{ post.date }}">
                <span class="dateline-day">{{ post.data.date.toLocaleDateString() }}</span>
              </time>
              {% if post.data.version %}
                v. {{ post.data.version }}
              {% endif %}
            {# </div> #}
          {% endif %}
          </div>
          
        </header>

        <p>{{ post.content | safe | firstParagraph }}</p>

        <footer>
          <p><a href="{{ post.url }}">Read More ›</a></p>

          {# {% include "footnotes.njk" %} #}

          {% if post.data.tags | length > 2 %}
          <p class="tag-list-header">Additional Tags:
            {% for tag in post.data.tags %}
              {% if loop.index > 2 %}
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                  <a href="{{ tagUrl | url }}" class="tag-list-link">{{ tag }}</a>
              {% endif %}
            {% endfor %}
          </p>
          {% endif %}

        </footer>
      </article>
      {% else %}
    {% endfor %}

    <nav aria-label="Post pagination">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Newer posts</a>
      {% endif %}

      <ol class="pagination-pages">
        {% for href in pagination.hrefs %}
          <li>
            <a href="{{ href }}"{% if loop.index0 === pagination.pageNumber %} aria-current="page"{% endif %}>
              {{ loop.index }}
            </a>
          </li>
        {% endfor %}
      </ol>

      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Older posts</a>
      {% endif %}
    </nav>
    </main>

    {% include "footer.njk" %}

    <script src="/script/main.js"></script>
  </body>
</html>
