<!doctype html>
<html lang="en" dir="ltr">
  {% include "head.njk" %}
  <body>
    <main id="global-content">
      {% include "header.njk" %}
        <article>
          <header>
            <hgroup>
              {% if tags | length > 1 %}
              <div>
                {% for tag in tags %}
                  {% if loop.index == 2 %}
                    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                      <a href="{{ tagUrl | url }}" class="tag-list-link">{{ tag }}</a>
                  {% endif %}
                {% endfor %}
              </div>
              {% endif %}
              <h1>{{ title }}</h1>
            </hgroup>
            <div>
              <span class="byline">by {{ author }}</span>
              {% if date %}
                on
                <time datetime="{{ date }}">
                  <span class="dateline-day">{{ date.toLocaleDateString() }}</span>
                </time>
              {% endif %}
            </div>
          </header>

          {{ content | safe }}

          <footer>
            <p class="byline">by {{ author }}</p>

            {% if footnotes.length > 0 %}
              <h1 class="footnotes-header">Foot Notes</h1>
              <ol class="footnotes">
              {% for footnote in footnotes %}
                <li><span id="footnote-{{loop.index}}"></span>{{footnote  | safe}}</li>
              {% endfor %}
              </ol>
            {% endif %}
          </footer>

          {% if tags | length > 2 %}
          <aside>
            <p class="tag-list-header">Additional Tags:
              {% for tag in tags %}
                {% if loop.index > 2 %}
                  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="tag-list-link">{{ tag }}</a>
                {% endif %}
              {% endfor %}
            </p>
          </aside>
          {% endif %}
        </article>
        {% include "footer.njk" %}
    </main>
  </body>
</html>
